body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1185px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:738px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1843 {
  position:absolute;
  left:174px;
  top:114px;
  width:382px;
  height:738px;
}
#u1844 {
  position:absolute;
  left:2px;
  top:361px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u1845 {
  position:absolute;
  left:180px;
  top:114px;
  width:375px;
  height:44px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1847 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u1848 {
  position:absolute;
  left:181px;
  top:852px;
  width:375px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u1849 {
  position:absolute;
  left:0px;
  top:32px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 繁黑體 Std B', 'Adobe 繁黑體 Std';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  line-height:20px;
}
#u1850 {
  position:absolute;
  left:181px;
  top:852px;
  width:94px;
  height:60px;
  font-family:'Adobe 繁黑體 Std B', 'Adobe 繁黑體 Std';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  line-height:20px;
}
#u1851 {
  position:absolute;
  left:0px;
  top:20px;
  width:94px;
  word-wrap:break-word;
}
#u1852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 繁黑體 Std B', 'Adobe 繁黑體 Std';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  line-height:20px;
}
#u1852 {
  position:absolute;
  left:462px;
  top:852px;
  width:94px;
  height:60px;
  font-family:'Adobe 繁黑體 Std B', 'Adobe 繁黑體 Std';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  line-height:20px;
}
#u1853 {
  position:absolute;
  left:0px;
  top:20px;
  width:94px;
  word-wrap:break-word;
}
#u1854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:7px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u1854 {
  position:absolute;
  left:269px;
  top:917px;
  width:200px;
  height:7px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u1855 {
  position:absolute;
  left:0px;
  top:-4px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 繁黑體 Std B', 'Adobe 繁黑體 Std';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
  line-height:20px;
}
#u1856 {
  position:absolute;
  left:275px;
  top:852px;
  width:94px;
  height:60px;
  font-family:'Adobe 繁黑體 Std B', 'Adobe 繁黑體 Std';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
  line-height:20px;
}
#u1857 {
  position:absolute;
  left:0px;
  top:20px;
  width:94px;
  word-wrap:break-word;
}
#u1858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 繁黑體 Std B', 'Adobe 繁黑體 Std';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  line-height:20px;
}
#u1858 {
  position:absolute;
  left:368px;
  top:852px;
  width:94px;
  height:60px;
  font-family:'Adobe 繁黑體 Std B', 'Adobe 繁黑體 Std';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  line-height:20px;
}
#u1859 {
  position:absolute;
  left:0px;
  top:20px;
  width:94px;
  word-wrap:break-word;
}
#u1860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1860 {
  position:absolute;
  left:175px;
  top:183px;
  width:111px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:9px;
  width:107px;
  word-wrap:break-word;
}
#u1862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1862 {
  position:absolute;
  left:269px;
  top:181px;
  width:38px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1863 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1864 {
  position:absolute;
  left:269px;
  top:208px;
  width:68px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1865 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1867 {
  position:absolute;
  left:180px;
  top:339px;
  width:375px;
  height:92px;
}
#u1868 {
  position:absolute;
  left:2px;
  top:38px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1869 {
  position:absolute;
  left:208px;
  top:367px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1870 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.949019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1871 {
  position:absolute;
  left:390px;
  top:339px;
  width:83px;
  height:90px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1872 {
  position:absolute;
  left:2px;
  top:36px;
  width:79px;
  word-wrap:break-word;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:90px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1873 {
  position:absolute;
  left:472px;
  top:339px;
  width:83px;
  height:90px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1874 {
  position:absolute;
  left:2px;
  top:36px;
  width:79px;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:63px;
}
#u1875 {
  position:absolute;
  left:496px;
  top:176px;
  width:53px;
  height:63px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:24px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:297px;
}
#u1877 {
  position:absolute;
  left:181px;
  top:555px;
  width:374px;
  height:297px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:140px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1880 {
  position:absolute;
  left:180px;
  top:429px;
  width:375px;
  height:94px;
}
#u1881 {
  position:absolute;
  left:2px;
  top:39px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:92px;
  background:inherit;
  background-color:rgba(214, 75, 42, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1883 {
  position:absolute;
  left:180px;
  top:247px;
  width:375px;
  height:92px;
}
#u1884 {
  position:absolute;
  left:2px;
  top:38px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:80px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u1886 {
  position:absolute;
  left:554px;
  top:897px;
  width:29px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u1887 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u1888 {
  position:absolute;
  left:151px;
  top:91px;
  width:433px;
  height:62px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u1890 {
  position:absolute;
  left:151px;
  top:153px;
  width:30px;
  height:803px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u1892 {
  position:absolute;
  left:181px;
  top:897px;
  width:373px;
  height:59px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u1894 {
  position:absolute;
  left:554px;
  top:153px;
  width:30px;
  height:803px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:94px;
}
#u1896 {
  position:absolute;
  left:180px;
  top:429px;
  width:327px;
  height:94px;
}
#u1897 {
  position:absolute;
  left:2px;
  top:39px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(214, 75, 42, 0.866666666666667);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1898 {
  position:absolute;
  left:208px;
  top:273px;
  width:85px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1900_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:25px;
}
#u1900 {
  position:absolute;
  left:92px;
  top:466px;
  width:15px;
  height:15px;
}
#u1901 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:2px;
}
#u1902 {
  position:absolute;
  left:107px;
  top:476px;
  width:73px;
  height:1px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:-8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1904 {
  position:absolute;
  left:44px;
  top:465px;
  width:30px;
  height:18px;
}
#u1905 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1906_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:25px;
}
#u1906 {
  position:absolute;
  left:628px;
  top:378px;
  width:15px;
  height:15px;
}
#u1907 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:2px;
}
#u1908 {
  position:absolute;
  left:555px;
  top:384px;
  width:73px;
  height:1px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:-8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1910 {
  position:absolute;
  left:663px;
  top:378px;
  width:30px;
  height:18px;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1913_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1913 {
  position:absolute;
  left:831px;
  top:286px;
  width:20px;
  height:20px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1915 {
  position:absolute;
  left:861px;
  top:277px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1916 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1917 {
  position:absolute;
  left:861px;
  top:355px;
  width:324px;
  height:90px;
  font-size:18px;
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1920 {
  position:absolute;
  left:862px;
  top:520px;
  width:265px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1921 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u1922_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:25px;
}
#u1922 {
  position:absolute;
  left:831px;
  top:527px;
  width:15px;
  height:15px;
}
#u1923 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
