body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:818px;
}
#u1669 {
  position:absolute;
  left:160px;
  top:72px;
  width:373px;
  height:818px;
}
#u1670 {
  position:absolute;
  left:2px;
  top:401px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:80px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u1672 {
  position:absolute;
  left:533px;
  top:853px;
  width:29px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:404;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u1673 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u1674 {
  position:absolute;
  left:130px;
  top:47px;
  width:433px;
  height:62px;
}
#u1675 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u1676 {
  position:absolute;
  left:130px;
  top:109px;
  width:30px;
  height:803px;
}
#u1677 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u1678 {
  position:absolute;
  left:160px;
  top:853px;
  width:373px;
  height:59px;
}
#u1679 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u1680 {
  position:absolute;
  left:533px;
  top:109px;
  width:30px;
  height:803px;
}
#u1681 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:98px;
  background:inherit;
  background-color:rgba(229, 228, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1682 {
  position:absolute;
  left:187px;
  top:244px;
  width:236px;
  height:98px;
}
#u1683 {
  position:absolute;
  left:2px;
  top:41px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1684 {
  position:absolute;
  left:197px;
  top:267px;
  width:217px;
  height:53px;
}
#u1685 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u1686 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1687_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1687 {
  position:absolute;
  left:824px;
  top:278px;
  width:20px;
  height:20px;
}
#u1688 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1689 {
  position:absolute;
  left:854px;
  top:269px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1690 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1691 {
  position:absolute;
  left:832px;
  top:340px;
  width:487px;
  height:110px;
  font-size:18px;
}
#u1692 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  word-wrap:break-word;
}
